.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--color-orange-100);
}

@media (hover: hover) {
  .container:hover {
    background-color: var(--color-orange-80);
  }
}

.container:active {
  background-color: var(--color-orange-120);
}

@media screen and (min-width: 1440px) {
  .container {
    width: 296px;
    height: 64px;
    border-radius: 12px;
  }
}
