.container {
  visibility: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0px 32px 0px;
  background-color: var(--color-black-5);
}

.icon {
  display: flex;
  align-self: flex-end;
  margin-right: 16px;
}

.visible {
  visibility: visible;
}

@media screen and (min-width: 1440px) {
  .container {
    visibility: visible;
    position: static;
    justify-content: center;
    padding: 0px;
    background-color: var(--color-white-100);
  }

  .icon {
    display: none;
  }
}
