.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 0px;
    row-gap: 32px;
  }
}