.container {
  position: relative;
  z-index: 1;
  width: 320px;
  height: 56px;
  padding: 0px 16px;
  background: none;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 24px;
}

.prefix {
  margin-right: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-orange-100);
}

.text {
  font-size: 14px;
  color: var(--color-black-100);
}

@media (hover: hover) {
  .container:not([disabled]):hover svg {
    stroke: var(--color-orange-100);
  }
}

.selected svg {
  fill: var(--color-orange-5);
  stroke: var(--color-orange-100);
}

.incorrect svg {
  fill: var(--color-red-5);
  stroke: var(--color-red-100);
}

.correct svg {
  fill: var(--color-green-5);
  stroke: var(--color-green-100);
}

@media screen and (min-width: 1440px) {
  .container {
    width: 421px;
    height: 72px;
  }

  .content {
    padding: 0px 32px;
  }

  .prefix,
  .text {
    font-size: 20px;
  }
}
